* {
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

body {
    background: rgb(255,35,35);
    background: linear-gradient(90deg, rgba(255,35,35,1) 0%, rgba(3,2,2,1) 0%, rgba(143,38,38,1) 100%);
    color: white;
}

nav {
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(70, 42, 42) ;
    position: fixed;
    width: 100%;
    top: 0;
    font-family: 'Figtree', sans-serif;
    z-index: 999;
}

.nav-links {
    flex: 1;
    text-align: left;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(255, 9, 9);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.sejarah  {
    margin-top: 120px;
    font-family: 'Bebas Neue', sans-serif;
    height: fit-content;
   
}
.sejarah h2{
    font-size: 50px;
    margin-left: 880px;
    
    
}

.sejarah p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    margin-right: 100px;
    margin-left: 700px;
}


/* Slider */
.slide-frame {
    overflow: hidden;
    height: 400px; 
    width: 600px; 
    margin-left: 1%;
    margin-top: 40px;
    float: left;
}

/* Animasi Slide */
@keyframes slide_animation {
    0% { left: 0px; }
    10% { left: 0px; }
    20% { left: 600px; }
    30% { left: 600px; }
    40% { left: 1200px; }
    50% { left: 1200px; }
    60% { left: 600px; }
    70% { left: 600px; }
    80% { left: 0px; }
    90% { left: 0px; }
    100% { left: 0px; }
}

.slide-img {
    width: 1800px; 
    height: 400px; 
    margin: 0 0 0 -1200px; 
    position: relative;
    animation-name: slide_animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}


.img-container {
    height: 400px;
    width: 600px;
    position: relative;
    float: left;
    border-radius: 20px; 
    overflow: hidden;
}

.dampak  {
    margin-top: 300px;
   
    
   
}

.dampak2 h2{
    font-size: 50px;
    margin-left: 880px;
    
    font-family: 'Bebas Neue', sans-serif;
}

.dampak2 p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    margin-right: 100px;
    margin-left: 700px;
}

/* Slider 2 */
.slide-frame2 {
    overflow: hidden;
    height: 400px; 
    width: 600px; 
    margin-left: 1%;
    margin-top: 40px;
    float: left;
}

/* Animasi Slide 2 */
@keyframes slide_animation2 {
    0% { left: 0px; }
    10% { left: 0px; }
    20% { left: 600px; }
    30% { left: 600px; }
    40% { left: 1200px; }
    50% { left: 1200px; }
    60% { left: 600px; }
    70% { left: 600px; }
    80% { left: 0px; }
    90% { left: 0px; }
    100% { left: 0px; }
}

.slide-img2 {
    width: 1800px; 
    height: 400px; 
    margin: 0 0 0 -1200px; 
    position: relative;
    animation-name: slide_animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}


.img-container2 {
    height: 400px;
    width: 600px;
    position: relative;
    float: left;
    border-radius: 20px; 
    overflow: hidden;
}


.pencegahan{
   margin-top: 400px; 
   
}

.pencegahan h2{
    font-size: 50px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}


/*border 1*/
.containborder{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
    margin-top: -200px;
    
}

.isicontain{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -150px;
    
}

.card h2{
    color: black;
    font-family: 'Bebas Neue', sans-serif;
}

.card img{
    width: 500px;
    
}

.isicontain .card{
    flex: 2;
    margin: 20px 20px;
    box-shadow: 0px 2px 8px 0 rgba(0,0,0, 0.2);
    background-color: #fffcfc;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.5s;
   
}
.isicontain .card:hover{
    transform: scale(1.1);
}



/*border 2*/
.containborder2{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
    margin-top: -300px;
    
}

.isicontain2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.card2 h2{
    color: black;
    font-family: 'Bebas Neue', sans-serif;
}

.card2 img{
    width: 500px;
    
}

.isicontain2 .card2{
    flex: 2;
    margin: 20px 20px;
    box-shadow: 0px 2px 8px 0 rgba(0,0,0, 0.2);
    background-color: #fffcfc;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.5s;
    margin-top: -700px;
   
}
.isicontain2 .card2:hover{
    transform: scale(1.1);
}

.newsinfo h2{
    font-size: 50px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: -420px;
}


/* Footer */
.footer {
    width: 100%;
    background-color: rgb(20, 16, 16);
    padding-bottom: 40px;
    font-family: 'Fira Sans', sans-serif;
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.footer p {
    text-align: center;
    font-size: 20px;
    color: white; 
    cursor: pointer; 
    transition: color 0.3s;
    margin-top: 30px;
}

.footer p:hover {
    color: rgb(172, 121, 121);
}

